**→ 변수에 값 대입하기**

In [12]:
# name에는 홍길동, age에는 18대입
name='홍길동'
age=18

In [13]:
name

'홍길동'

In [61]:
# "" = ''
print(name,"님의 나이는",age,"세 입니다")
print(name,'님의 나이는',age,'세 입니다')

홍길동 님의 나이는 18 세 입니다
홍길동 님의 나이는 18 세 입니다

In [62]:
# 여러 변수에 값 대입하기
c=10

In [63]:
b=c
a=b

In [64]:
print(a,b,c)

10 10 10

In [65]:
# 복합 대입 연산자
a+=10

In [66]:
print(a)

20

In [70]:
# 원래 있던 b에서 10빼기
b-=10
print(b)

-20

In [67]:
# 이렇게 하면 변수가 아니라 a그대로 출력
print('a')

a

In [74]:
#improt는 키워드라서 변수명으로 활용 못함
import=100

SyntaxError: invalid syntax (ipython-input-3910542285.py, line 1)

**→ 변수 이름 규칙 : 문자, 밑줄, 숫자**

In [78]:
# 변수명 문자, 밑줄, 숫자 case
# 앞에 문자, 밑줄은 가능
abc_3=10
__abc=3

In [79]:
# 앞에 숫자를 쓰면 변수명으로 X
3abc=2

SyntaxError: invalid decimal literal (ipython-input-1068112752.py, line 2)

In [80]:
# 공백이 있으면 변수명 못함
you age=1000

SyntaxError: invalid syntax (ipython-input-3407681951.py, line 2)

In [82]:
# 영어 대문자, 소문자 구분
AGE=100
age=10

In [83]:
print(AGE,age)

100 10

**→ LAB 두 변수의 값 교환하기**

In [105]:
a=7

In [106]:
b=11

In [145]:
# 잔 하나 추가?
# a,b=b,a 로 했는데 이거 말고 c라는 변수를 추가해서 이용
a,b=b,a
print(a,b)

11 7

**→ LAB 배수 구하기**

In [112]:
# 복합 대입 연산자를 이용한 3의 배수 구하기
multiple = 0
print("3의 배수:")

for i in range(5):
  multiple += 3
  print(f"{multiple}")

3의 배수:
3
6
9
12
15

**→ 자료형의 개요**

In [124]:
# str: 문자열, string
type(name)

str

In [123]:
# int: 정수, intger
type(age)

int

In [129]:
# float: 부동소수점 변수, floating point number
height=100.5
type(height)

float

In [130]:
# bool: 논리형(참, 거짓), boolean
flag=True
type(flag)

bool

In [131]:
plag=False
type(False)

bool

**→ 정수형 예시**

In [153]:
#예시: a 에 10진수 20을, b 에 8진수 34를, c 에 16진수 A1을, d 에 2진수 1110을 저장한 후 출력하는 프로그램
a=20
b=0o34
c=0xA1
d=0b1110

In [160]:
print('10진수 a는',a)
print('8진수 b는',b)
print('16진수 c는',c)
print('2진수 d는',d)

print(f'2진수 d는 {d}')

10진수 a는 False
8진수 b는 28
16진수 c는 30
2진수 d는 48
2진수 d는 48

In [155]:
# 추가
c,d=30,48
print(c,d)

30 48

**→ 불형 예시**

In [156]:
#예시: 10 > 20은 거짓이므로 변수 a 에 False를 저장한 다음 출력하는 프로그램
a=10>20

In [158]:
a

False

In [157]:
type(a)

bool

**→ 문자열형 예시**

In [163]:
a='python'

In [164]:
print(a)

python

In [168]:
# '+'는 숫자일때는 덧셈, 문자열이면 그냥 연결
a='Hi'+'python'

In [169]:
a

'Hipython'

In [177]:
#자료 타입이 다를경우
# a는 숫자고 b는 문자열
a=10
b='10'

In [179]:
# 타입이 동일해야 연산 가능
c=a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [181]:
# str을 써서 a를 숫자에서 문자로 변경가능
# 둘다 문자기 때문에 20이 아니라 1010으로 됨
c=str(a)+b
print(c)

1010

In [184]:
# int를 써서 문자열 b를 숫자로 변환
c=a+int(b)
print(c)

20

In [189]:
# float 쓰면 소수점 붙어서 .0 붙음
c=float(a)+float(b)
print(c)
print(int(c))

20.0
20

In [194]:
# 추정: True가 1로 인식되는건가?
c=bool(a)+bool(b)
print(c)

2

In [195]:
# 추정: False는 0으로 인식되는듯
e=10>20
w=10<20
bool(e)
r=bool(e)+bool(w)
print(r)

1

**→ 입력**

In [206]:
# 변수=input('안내문,문자열')
name=input("이름을 입력해주세요: ")
age=input("나이를 입력해주세요: ")

이름을 입력해주세요: 홍길동
나이를 입력해주세요: 18

In [207]:
type(name)

str

In [208]:
type(age)

str

In [213]:
# 현재 나이에 2살 더 많게 만들기
current= int(age)+2
print(current)

22

In [218]:
# 아 변수하나 추가 지정 age로 써도 됨
age = int(age)+2
print(age)

22

In [223]:
# 아예 input 밖에 int를 쓰면 숫자로 인식
age=int(input('나이를 입력해주세요: '))

나이를 입력해주세요: 18

In [224]:
age+=2
print(age)

20

In [233]:
# 사용자로부터 두 값을 받아 뺄셈 하는 프로그램
first=int(input('첫번째 숫자를 입력해주세요: '))
seocnd=int(input('두번째 숫자를 입력해주세요: '))
answer=first-seocnd
print("첫번째 숫자와 두번째 숫자 뺄셈의 값은", answer, '입니다')

첫번째 숫자를 입력해주세요: 9
두번째 숫자를 입력해주세요: 5
첫번째 숫자와 두번째 숫자 뺄셈의 값은 4 입니다

In [239]:
# 교수님 예시
a=int(input())
b=int(input())
c=a-b
print(a,b,c)
print(a)
print(b)
print(c)

9
5
9 5 4
9
5
4

In [242]:
# end를 쓰면 붙혀서 출력됨
a=int(input())
b=int(input())
c=a-b
print(a,b,c)
print(a)
print(b,end='')
print(c)

9
5
9 5 4
9
54

Gemini f 문자열 예시

In [244]:
name = "Alice"
age = 30

# f-string을 사용하여 변수 값을 문자열에 포함시켜 출력
# 중괄호 {}안에 치환될 변수를 적으면 됨
print(f"제 이름은 {name}이고, 나이는 {age}살입니다.")

# f-string 안에서 간단한 표현식 사용 가능
print(f"내년에는 {age + 1}살이 됩니다.")

제 이름은 Alice이고, 나이는 30살입니다.
내년에는 31살이 됩니다.

In [253]:
pi=3.141592
print(f'파이값은{pi:1f}입니다')

파이값은3.14입니다

**LAB 원의 넓이 구하기**

In [259]:
r=int(input('원의 반지름을 입력해주세요: '))
pi=3.141592
a=pi*r*r
print(f'반지름이{r}인 원의 넓이는 {a}입니다')
print("※pi는 3.141592로 계산되었습니다")

원의 반지름을 입력해주세요: 3
반지름이3인 원의 넓이는 28.274328000000004입니다
※pi는 3.141592로 계산되었습니다