---
---
---
**1. 리스트**

In [127]:
# 리스트 직접 생성
# 리스트에 문자열 넣을 시 '' or "" 넣기
# 알파벳 대, 소문자 구분하기 -> 아스틱 코드 (나중에 나옴)

strlist=['a', 'b', 'c', 'd', 'e']
prices = [1000, 2500, 3000, 1500, 5000]
nums=[1,2,3,4,5]

In [128]:
strlist

['a', 'b', 'c', 'd', 'e']

In [129]:
# len은 list의 길이를 보여줌 / 두개의 list 모두 5개
# range 함수는 0부터 시작하고 마지막껀 포함 x
for i in range(len(prices)):
  prices[i] = prices[i] * 1.05

print(prices)

for q in range(len(nums)):
  nums[q]=nums[q]*2

print(nums)

[1050.0, 2625.0, 3150.0, 1575.0, 5250.0]
[2, 4, 6, 8, 10]

In [130]:
# 리스트는 기본적으로 인덱스를 가지고 있다
len(nums)
print(len(nums))

s=3
print(nums[s])

5
8



---
리스트 항목 추가

In [131]:
# 빈 리스트 추가
empty = []

In [132]:
# 빈 리스트에 append 활용해서 item 넣기
# 리스트 명 . append(넣을 항목)
empty.append('파이썬')
empty.append('자바')
empty.append('C')

empty

['파이썬', '자바', 'C']

In [133]:
# insert() 활용해서 리스트 중간에 항목 넣기
# 나머지는 뒤로 밀림
# 리스트명.insert(넣을 인덱스, 넣을 항목)
empty.insert(2, '자바스크립트')
empty

['파이썬', '자바', '자바스크립트', 'C']

In [134]:
# extend로 리스트 뒤에 항목 넣기
# () 안에 [] 써줘야함
# 리스트명. extend([넣을 요소들])
empty.extend(['R', 'C++'])
empty

['파이썬', '자바', '자바스크립트', 'C', 'R', 'C++']



---
리스트 항목 삭제

In [135]:
# pop으로 삭제하기
# 지정 안하면 마지막 항목을 삭제 -> 마지막 항목인 C++이 사라짐
# 리스트명.pop()
empty.pop()
empty

['파이썬', '자바', '자바스크립트', 'C', 'R']

In [136]:
# del로 지정한 항목 삭제
# 얘만 특이하게 함수가 제일 앞에 옴
# del 리스트명 : 특이하게 '.' 안쓰고 스페이스바
del empty[4]
empty

['파이썬', '자바', '자바스크립트', 'C']

In [137]:
# 특정 값을 찾아서 삭제 -> remove
# 리스트명.remove(뺄 항목 이름)
empty.remove('C')
empty

['파이썬', '자바', '자바스크립트']

In [138]:
# clear: 아예 다 지움
# 리스트명. claer()
empty.clear()
empty

[]



---
재배열

In [139]:
# reverse: 원래 nums를 역순으로 재배열
# 리스트명.reverse()
nums.reverse()
nums

[10, 8, 6, 4, 2]

In [140]:
# sort: 오름차순으로 항목 정렬
# reverse=True 주면 내림차순으로 정렬
# 리스트명. sort()
nums.sort()
nums

[2, 4, 6, 8, 10]

In [141]:
nums.sort(reverse=True)
nums

[10, 8, 6, 4, 2]



---
탐색

In [142]:
# in: 리스트 중 특정 값 확인
# 특정 항목 in 리스트명
strlist

['a', 'b', 'c', 'd', 'e']

In [143]:
'a' in strlist

True

In [144]:
'Q' in strlist

False

In [145]:
# index: 특정 항목의 인덱스 값 표시
# 리스트명.index(인덱스 확인할 항목)
strlist.index('c')

2

In [146]:
# 무자기위로 뽑기
# random.choice(리스트명)
import random #랜덤 라이브러리
random.choice(strlist)

'd'



---

라이브러리의 중요성

In [148]:
prices

[1050.0, 2625.0, 3150.0, 1575.0, 5250.0]

In [158]:
# len: prices으 개수
len(prices)

5

In [159]:
# for 문에서 in 빼먹음
# print로 totalprice할때 'totalprice'라고 입력해서 문자열 출력 -> 중괄호로 변경
totalprice=0

for i in range(len(prices)):
  totalprice= totalprice+prices[i] #여기서 i는 0,1,2,3,4로 0일때는 1050.0을 가져옴

print({totalprice})

{13650.0}

In [160]:
# sum을 쓰면 한줄로 끝남
sum(prices)

13650.0

In [163]:
# 문자열은 당연하게 sum으로 출력 못함
strlist

['a', 'b', 'c', 'd', 'e']

In [164]:
sum(strlist)

TypeError: unsupported operand type(s) for +: 'int' and 'str'



---
**프로젝트 1**

In [180]:
# 2단계 (순번 -> 묘호)
# 1대는 태조, 2대는 정종 이렇게 출력해보기

for i in range(len(dynasties)):
  print(i+1,'대',dynasties[i]) #i에 1더하는 이유: 처음 i는 0으로 할당

1 대 태조
2 대 정종
3 대 태종
4 대 세종
5 대 문종
6 대 단종
7 대 세조
8 대 예종
9 대 성종
10 대 연산군
11 대 중종
12 대 인종
13 대 명종
14 대 선조
15 대 광해군
16 대 인조
17 대 효종
18 대 현종
19 대 숙종
20 대 경종
21 대 영조
22 대 정조
23 대 순조
24 대 헌종
25 대 철종
26 대 고종
27 대 순종

In [181]:
# 3단계: 특정 항목이 어떤 인덱스에 위치해있는지 찾기
# index는 0부터 시작이기 때문에 철종이 25대가 아니라 24로 나옴 -> index에 1더하기

print(dynasties.index('철종')+1)

25



---
---
---

**2. 문자열**

다음은 자주 사용되는 이스케이프 문자열의 예시입니다.

*   `\\`: 백슬래시 자체를 표현
*   `\'`: 작은따옴표를 표현
*   `\"`: 큰따옴표를 표현
*   `\n`: 줄 바꿈 (새로운 줄로 이동)
*   `\t`: 탭 (일정한 간격 띄우기)

In [183]:
# 예시 1: 문자열 안에 따옴표 포함하기
print('문자열 안에 작은따옴표 \'를 넣고 싶어요.')
print("문자열 안에 큰따옴표 \"를 넣고 싶어요.")

# 예시 2: 백슬래시 표현하기
print('경로를 표시할 때 \\를 사용해요.')

# 예시 3: 줄 바꿈과 탭 사용하기
print("첫 번째 줄\n두 번째 줄")
print("이름:\t김철수")

문자열 안에 작은따옴표 '를 넣고 싶어요.
문자열 안에 큰따옴표 "를 넣고 싶어요.
경로를 표시할 때 \를 사용해요.
첫 번째 줄
두 번째 줄
이름:	김철수

In [194]:
char1='\'한글\'사용법'

In [195]:
char1

"'한글'사용법"

In [205]:
char2='\'로스트\''+'\'아크\''
char2

"'로스트''아크'"

---
문자열 함수 : 대소문자 변환

In [209]:
# 대소문자 변환
'ABCDEFG'.lower() #대문자를 소문자로

'abcdefg'

In [210]:
'qwer'.upper() #소문자를 대문자로

'QWER'

---
문자열 함수 : 검색 및 확인

In [218]:
# 문자열 중에서 특정 문자 찾기 : 인덱스로 표시
'kiwi'.find('k')

0

In [221]:
# startswich: 무엇으로 시작하는지 참 거짓
'banana'.startswith('ba')

True

In [223]:
# endswith: startswith랑 반대
'mango'.endswith('go')

True

---
문자열 확인: 분리 및 결합

In [224]:
# split: 문자를 , 기준으로 리스트 생성
'apple,banana,mango'.split(',')

['apple', 'banana', 'mango']

---
문자열 변환: 아스키코드

In [225]:
# 소문자와 대문자의 아스키 코드가 서로 다르게 할당
ord('A')

65

In [226]:
ord('a')

97

In [227]:
chr(65)

'A'

---

In [238]:
# 문자 숫자 판단하기
ans=input('입력한 데이터 : ')
if ans.isdigit():
  print('숫자입니다')
else:
  print('숫자가 아닙니다')

입력한 데이터 : 3.14
숫자가 아닙니다

---
문자나 숫자 넣으면 몇대 왕인지 바로 튀어나는 프로그램

In [249]:
while True:
    ans = input('순번 또는 왕의 이름을 입력 (종료하려면 "끝" 입력): ')
    if ans == '끝':
        break

    try:
        if ans.isdigit():
            # 입력이 숫자일 경우
            i = int(ans)
            if 1 <= i <= len(dynasties):
                print(f"{i}대 왕은 {dynasties[i - 1]}입니다.")
            else:
                print("유효한 순번을 입력하세요 (1부터 27까지).")
        else:
            # 입력이 문자열일 경우
            # 문자열이 dynasties 리스트에 있는지 확인하고 인덱스 찾기
            if ans in dynasties:
                print(f"{ans}은(는) {dynasties.index(ans) + 1}대 왕입니다.")
            else:
                print("해당하는 묘호가 없습니다.")
    except ValueError:
        print('잘못된 입력 형식입니다. 순번(숫자) 또는 왕의 이름(문자열)을 정확히 입력해주세요.')
    except Exception as e:
        print(f"알 수 없는 오류가 발생했습니다: {e}")

순번 또는 왕의 이름을 입력 (종료하려면 "끝" 입력): 가나
해당하는 묘호가 없습니다.
순번 또는 왕의 이름을 입력 (종료하려면 "끝" 입력): 세종
세종은(는) 4대 왕입니다.
순번 또는 왕의 이름을 입력 (종료하려면 "끝" 입력): 끝

In [262]:
# dynasties.index(ans) + 1을 하는 이유: index는 0부터 시작해서 4번째 세종이 index 3에 위치함
dynasties.index('세종')

3

In [263]:
#dynasties[i - 1]인 이유: 4대왕을 하고 싶은데 4를 넣어버리면 5번재인 문종이 나와버림
print(f'{dynasties[4]}')

문종

---
---
---
**3. 딕셔너리**

In [271]:
# 딕셔너리는 중괄호에다가 항목 : 항목 , 항목 : 항목 으로 입력
person = {
'name': '홍길동',
'age': 30,
'job': '개발자'
}

In [272]:
person

{'name': '홍길동', 'age': 30, 'job': '개발자'}

In [273]:
# 키가 중복되면 마지막 키로 입력됨
# 처음 a에 넣은 3이 무시되고 마지막에 넣은 5로 입력됨
d={'a':3, 'b':4, 'a':5}
print(d)

{'a': 5, 'b': 4}

In [296]:
# tuple
coffee={'아메리카노':2000,'라떼':3000,'말차':4000}

In [297]:
coffee['아메리카노']

2000

In [298]:
# 이렇게 key만 적으면 음료명이 나옴
for k in coffee:
  print(k)

아메리카노
라떼
말차

In [299]:
# 이렇게 coffee라는 딕셔너리에 []를 키를 쓰면 뒤의 가격이 나옴
for k in coffee:
  print(coffee[k])

2000
3000
4000

In [300]:
# 키변수 (k, key)와 값변수(v, value)를 둘다 내보내기
for k, v in coffee.items():
  print(k, v)

아메리카노 2000
라떼 3000
말차 4000

---
실습 예제

In [301]:
score={'홍길동':100,'이순신':90,'강감찬':80}

In [311]:
# 이거 이해 안가서 AI 돌림

# 전체 학생의 총점 계산 (순회 사용)
total_score = 0
for score in socre.values():
  total_score += score

# 전체 학생 수 계산
num_students = len(socre)

# 평균 계산
average_score = total_score / num_students

print(f"전체 학생 총점: {total_score}")
print(f"전체 학생 평균: {average_score}")

# 가장 높은 점수 찾기 및 해당 학생 이름 찾기 (순회 사용)
max_score = 0
student_with_max_score = ""

for name, score in socre.items():
  if score > max_score:
    max_score = score
    student_with_max_score = name

print(f"가장 높은 점수: {max_score}")
print(f"가장 높은 점수를 받은 학생: {student_with_max_score}")

# 참고: sum()과 max() 함수를 사용하여 더 간결하게 작성할 수도 있습니다.
# total_score_sum = sum(socre.values())
# max_score_func = max(socre.values())
# print(f"\nsum() 함수로 계산한 총점: {total_score_sum}")
# print(f"max() 함수로 찾은 최고 점수: {max_score_func}")

전체 학생 총점: 270
전체 학생 평균: 90.0
가장 높은 점수: 100
가장 높은 점수를 받은 학생: 홍길동