---
---
---
**1-2. 함수**

In [8]:
asdf=['안녕하세요','하이','안뇽']
print(asdf)

['안녕하세요', '하이', '안뇽']

In [11]:
def sayhello():
  i = int(input('숫자입력: '))
  print(asdf[i])

In [12]:
sayhello()

숫자입력: 1
하이

---
---
---
**코딩실습 2**

In [34]:
# 함수 정의하기
def BMI() :
    BMI=W/H*H
    return BMI

In [35]:
# 호출문 작성 ...??
W=int(input('몸무게를 입력해주시오(단위:kg)'))
H=int(input('키를 입력해주시오(단위:cm)'))/100

print(BMI)

몸무게를 입력해주시오(단위:kg)72
키를 입력해주시오(단위:cm)171
<function BMI at 0x7f9d6466e5c0>

In [38]:
# 교수님 예시
def bmi_fun(h,w):
  bmi=w/h**2
  return bmi

bmi=bmi_fun(170,70)
print(bmi)

0.002422145328719723

In [40]:
# 예제로 고치기
def bmi2(h,w):
  bmi2=w/h**2
  return bmi

bmi2(55,1.68)

0.002422145328719723

In [49]:
#예제에서 입력 가능하게 업그레이드
h=int(input('키를 입력해주시오(단위:cm)'))/100
w=int(input('몸무게를 입력해주시오(단위:kg)'))

def bmi3(h,w):
  bmi3=w/h**2
  return bmi3

print(round(bmi3(h,w), 2))

키를 입력해주시오(단위:cm)171
몸무게를 입력해주시오(단위:kg)72
24.62

---
***아래는 입출력 예제 1,2,3***

In [53]:
# 입출력 예제 입력 : 단위 cm로 입력
h=int(input('키를 입력해주시오(단위:cm)'))/100
w=float(input('몸무게를 입력해주시오(단위:kg)'))

def exbmi(h,w):
  exbmi=w/h**2
  return exbmi

print(round(exbmi(h,w), 2))

키를 입력해주시오(단위:cm)135
몸무게를 입력해주시오(단위:kg)43.01
23.6

In [55]:
# 입출력 예제 입력 : 단위 cm로 입력
h=int(input('키를 입력해주시오(단위:cm)'))/100
w=float(input('몸무게를 입력해주시오(단위:kg)'))

def exbmi(h,w):
  exbmi=w/h**2
  return exbmi

print(round(exbmi(h,w), 2))

키를 입력해주시오(단위:cm)187
몸무게를 입력해주시오(단위:kg)102.0
29.17

In [56]:
# 입출력 예제 입력 : 단위 cm로 입력
h=int(input('키를 입력해주시오(단위:cm)'))/100
w=float(input('몸무게를 입력해주시오(단위:kg)'))

def exbmi(h,w):
  exbmi=w/h**2
  return exbmi

print(round(exbmi(h,w), 2))

키를 입력해주시오(단위:cm)164
몸무게를 입력해주시오(단위:kg)46.78
17.39

---
---
---
**실습예제 2번째**

In [57]:
def abc (A,B):
  A,B=map(int,input().split())
  abc=A+B
  return abc

print(abc)

<function abc at 0x7f9d4fabf920>

# 함수 두개 입력할때 사용하는 방법
a,b=map(int,input().split())

print(a+b)

In [60]:
# 함수 정의하기: A와 B를 매개변수로 받아 합을 반환
def abc(A, B):
  sum_result = A + B
  return sum_result

In [61]:
# 사용자로부터 두 숫자 입력받기
num1, num2 = map(int, input('두 숫자를 공백으로 구분하여 입력하세요: ').split())

# 함수 호출하고 결과 출력하기
# print(abc()) 대신 함수를 호출하고 그 결과를 print 합니다.
# 위에서 정의한 함수는 매개변수를 받으므로, 입력받은 num1과 num2를 전달해야 합니다.
print(abc(num1, num2))

두 숫자를 공백으로 구분하여 입력하세요: 4 5
9

---
---
---
**심화 문법 : split, join**

In [62]:
# split 예시
txt="apple#banana#cheery#orange"

In [64]:
# txt의 문자열에 #을 기준으로 잘라서 리스트로 리턴해줌
x=txt.split("#")
print(x)

['apple', 'banana', 'cheery', 'orange']

---

In [69]:
# 실습 1-1: 이메일 주소 분리하기
email="user@example.com"
E=email.split("@")
print(E)

['user', 'example.com']

In [70]:
# 새롭게 지정된 E 라는 리스트에 사용자명에 해당하는 인덱스 0, 도메인에 해당하는 인덱스 1 넣고 print
print(f"사용자명:{E[0]}, 도메인{E[1]}")

사용자명:user, 도메인example.com

In [71]:
# 실습 1-2: CSV 형식 데이터 처리
csv_data="김철수,30,서울,개발자"
DATA=csv_data.split(",")
print(f"분리된 데이터: {DATA}")

분리된 데이터: ['김철수', '30', '서울', '개발자']

In [76]:
# 실습 1-3: 경로 조합하기
folders=["home","user","documents","project"]
waybackhome=' '.join(folders)
print(f"경로: {waybackhome}")

경로: home user documents project

In [73]:
# 실습 1-4: 단어를 문장으로 만들기
worlds=["Python","is","awesome"]
WORLDS=' '.join(worlds)
print(f"문장: {WORLDS}")

문장: Python is awesome

---
---
---
**한줄로 적는 리스트**

가독성을 떨어지지만 코드 여러줄 안적어도 됨

In [78]:
# 실습 2-1: 1~20까지 숫자 중 3의 배수만
triplenumber=[x for x in range(21) if x%3==0]
print(f'3의 배수: {triplenumber}')

3의 배수: [0, 3, 6, 9, 12, 15, 18]

In [80]:
# 실습 2-2 : 문자열 리스트를 대문자로 변환
fruits=["apple","banana","cherry"]
uppercase_fruits = [fruit.upper() for fruit in fruits]
print(f'대문자 과일 : {uppercase_fruits}')

대문자 과일 : ['APPLE', 'BANANA', 'CHERRY']

---
---
---
**enumerate & zip**

In [83]:
# enumerate가 자동으로 idx에 0,1,2를 부여
for idx,fruits in enumerate(fruits):
  print(idx,fruits)

0 c
1 h
2 e
3 r
4 r
5 y

In [86]:
# 실습3-1: enumerate로 순위 매기기
scores=[95,87,92,88]
print("성적순위")
for rank,score in enumerate(scores):
  print(f'{rank}등:{score}점')

성적순위
0등:95점
1등:87점
2등:92점
3등:88점

In [89]:
# 실습 3-3: 딕셔너리 생성 (zip 활용)
keys = ["name", "age", "city"]
values = ["홍길동", 25, "부산"]

for key,value in zip(keys,values):
  print(key,value)

name 홍길동
age 25
city 부산

In [90]:
# 실습 3-3: 딕셔너리 생성 (요건 dict 활용한 복붙)
keys = ["name", "age", "city"]
values = ["홍길동", 25, "부산"]

# zip으로 묶은 후 dict() 함수를 사용하여 딕셔너리 생성
person_dict = dict(zip(keys, values))

# 생성된 딕셔너리 출력
print(f"\n딕셔너리: {person_dict}")

print("\n" + "=" * 60)
print("4. lambda & map - 함수를 작고 유연하게")
print("=" * 60)

딕셔너리: {'name': '홍길동', 'age': 25, 'city': '부산'}

============================================================
4. lambda & map - 함수를 작고 유연하게
============================================================

---
---
---
**lamda & map**

In [94]:
# 실습 4-1: 섭씨를 화씨로 변환
# lamda가 아니라 lam'b'da
celsius = [0, 10, 20, 30, 40]
F=list(map(lambda x:x*1.8+32,celsius))
print(f'화씨 온도 : {F}')

화씨 온도 : [32.0, 50.0, 68.0, 86.0, 104.0]

새로운 리스트 명 = list (map ( lambda 변수: 변수에 넣을 식, 기존 리스트))

---


**원하는 것만 골라내기**

In [96]:
# filter도 map이랑 구조 똑같
# 실습 5-1: 양수만 필터링
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive=list(filter(lambda x:x>0, numbers))
print(f' 양수: {positive}')

 양수: [3, 8, 7]

새로운 리스트 명 = list (filter ( lambda 변수: 변수에 넣을 식, 기존 리스트))

---